.data-user table {
	width: 100%;
	border: 1px solid #fff;
}

.data-user th,
.data-user td {
	padding: 15px;
	width: 25%;
	text-align: left;
	vertical-align: top;
	border: 1px solid #fff;
	border-collapse: collapse;
}

.video-item-container-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.columna-video {
	margin: 30px 0;
}

.title-video h5 {
	color: rgba(236, 236, 236, 0.519);
}

.video-item-container {
	/* background-color: red; */
}

.video-item {
	display: flex;
	border-radius: 12px;
	flex-direction: column;
	background-color: yellow;
	margin: 10px;
	min-width: 250px;
	min-height: 150px;
}

.video-h4 {
	padding: 0 15px;
	margin: 0;
}

.video-i {
	padding: 0 15px;
}

/* login */
.loginScreen {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.videosScreen {
	display: flex;
	align-items: center;
	justify-content: center;
	/* height: 100vh; */
}

.signupScreen {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.box-container-login {
	max-width: 300px;
}

.img-container-login {
	display: flex;
	justify-content: center;
}

.container-form-login > div {
	width: 100%;
}

.box-container-login input {
	box-sizing: border-box;
	height: 40px;
	width: 100%;
	border: none;
	margin: 4px 0;
	padding: 10px;
}

.box-container-error {
	padding: 10px 0;
	text-align: center;
	background-color: rgb(254, 187, 187);
	margin: 15px 0;
}

.box-container-error p {
	margin: 0;
	color: rgb(253, 77, 77);
}

.txt p {
	margin: 0;
}

.txt a {
	text-decoration: none;
	color: #fff;
}

.container-form-login .btn-login {
	display: flex;
	justify-content: center;
}

.container-form-login .btn-login button {
	font-size: 18px;
	margin: 15px 0;
	padding: 5px 25px;
	border-radius: 50px;
	border: none;
	font-weight: bold;
	color: #234e9d;
}

/* signup */
.box-container-signup {
	/* background-color: red; */
	max-width: 300px;
}

.img-container-signup {
	display: flex;
	justify-content: center;
}

.container-form-signup > div {
	width: 100%;
}

.box-container-signup input {
	box-sizing: border-box;
	height: 40px;
	width: 100%;
	border: none;
	margin: 4px 0;
	padding: 10px;
}

.container-form-signup .btn-signup {
	display: flex;
	justify-content: center;
}

.container-form-signup .btn-signup button {
	font-size: 18px;
	margin: 15px 0;
	padding: 5px 25px;
	border-radius: 50px;
	border: none;
	font-weight: bold;
	color: #234e9d;
}
