body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: #234e9d;
	/* background-color: #A6C111; */
	/* background-color: #094892; nav*/
	color: white;
}
